# Database config
DB_NAME="database_name"
DB_USER="database_user"
DB_PASS="database_password"
DB_HOST="localhost"
DB_PORT=1234 #example port

# Number of worker processes to run
NUMBER_PROCESSES=8 #example number

#API config
APIKEY="an_api_key"

# Instance config
PLACE_NAME="Place Name, State, Country" 
FIPSCODE=12345 #example FIPS code
YEAR=2022 #example year
CENTER_LAT=0.0 #example latitude
CENTER_LON=0.0 #example longitude
INCLUDE_OSM_STORES=False
STORES_CSV="stores.csv" #example stores csv file (LEAVE BLANK IF NONE)